@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

header {
    background: rgb(83, 150, 167);
    padding: 20%;
    margin: 20px;
    font-family: 'Averia Sans Libre', cursive;
    text-align: center;
    color: white;
}

section {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

div {
    margin: auto;
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 20px;
}

footer {
    background: grey;
    padding: 5px
}

.separator {
    background: grey;
    padding: 5px;
    width: 97.5%;
}

section.feature-box {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(248, 248, 148);
    /* text-decoration: underline; */
}

a:link {
    color: white;
}

.banner {
    background-color: rgb(136, 189, 219);
    text-align: center;
    padding: 100px 20px;
}

#typed-text {
    font-size: 2.5rem;
    color: white;
    font-family: 'Averia Sans Libre', cursive;
}

.cursor {
  animation: blink 0.75s step-end infinite;
}

.stop-blink {
  animation: none;
}

/* Same blink keyframe */
@keyframes blink {
  50% { opacity: 0; }
}

.left {
  justify-self: start; /* Left align */
}

.right {
  justify-self: end; /* Right align */
}
