@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

header {
    background: rgb(83, 150, 167);
    padding: 20%;
    margin: 20px;
    font-family: 'Averia Sans Libre', cursive;
    text-align: center;
    color: white;
}

h2, h3 {
    font-family: 'Averia Sans Libre', cursive;
    padding: 20px;
}

p {
    font-family: 'Averia Sans Libre', cursive;
    padding-left: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 20px;
    font-family: 'Averia Sans Libre', cursive;
}

footer {
    background: grey;
    padding: 20px;
    margin: 20px;
}

.separator {
    background: grey;
    padding: 5px;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(248, 248, 148);
    /* text-decoration: underline; */
}

a:link {
    color: white;
}

.banner {
    background-color: rgb(136, 189, 219);
    text-align: center;
    padding: 100px 20px;
}

#typed-text {
    font-size: 2.5rem;
    color: white;
    font-family: 'Averia Sans Libre', cursive;
}

.cursor {
  animation: blink 0.75s step-end infinite;
}

.stop-blink {
  animation: none;
}

/* Same blink keyframe */
@keyframes blink {
  50% { opacity: 0; }
}

.left {
  justify-self: start; /* Left align */
}

.right {
  justify-self: end; /* Right align */
}

.nav-link.active {
  color:  rgb(248, 248, 148);
  font-weight: bold;
}

.card-container {
  display: flex;
  gap: 20px; /* Space between cards */
}

.card {
  width: 27%;
  height: 350px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
  margin: 20px;
}

.card:hover {
  transform: translateY(-10px); /* Lift card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin-top: 0;
  font-size: 1.25em;
}

.card-content p {
  color: #555;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  column-gap: 170px;
  row-gap: 50px;
  margin: 25px 100px 50px 100px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: block;
  border: 3px solid black;
  transition: filter 0.2s ease;
}

.image-container:hover img {
  filter: blur(4px) brightness(0.6);
}

.image-text {
  position: absolute;
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0px;
  opacity: 0;
  transition: 0.2s ease;
}

.image-container:hover .image-text {
  opacity: 1;
}